body {
  background-color: #fff;
  color: #333;
  font-family: helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  text-decoration: none;
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}



#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

}

  /*h2 {

    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }*/
ul li {
    font-size: 12px;
    list-style: square;
  }

#home-background-image{

  background: url(/imgAssets/stepping_stones.jpg);
}

#started-button{
  color: black;
  background-color: white;
}

#commentTile{
  width: 90%;
  height: auto;
  border: 1px solid black;
  background-color: gray;
  opacity: .6;
  color: white;
  border-radius: 5px;
  margin-bottom: 2px;
  padding-left: 10px;
}

div.view-container{
  padding: 40px;
}

.resume-container{
  border-bottom: 2px solid gray; 
}

#show-button{
  color: white;
  background-color: gray;
}

.button-error {
background: rgb(202, 60, 60); /* this is a maroon */
}

#commentSpace{
  margin-top: 10px;
}

#viewWindow {
  width: 90%;
  height: 400px;
  border: 1px solid black;
  border-radius: 5px;
}

#logo{
  height:35px;
  width: auto;
}
#logo:hover {
  -webkit-filter: invert(.7);
  filter: invert(.7);
 /* background: rgba(78, 124, 168, 1) ;
  opacity: .8;*/

}
.navItems{
  margin-top: .6em;
}

#resumePDF{
  width: 100%;
  height: 100%;
}
.splash-head{
  background-color:rgba(0,0,0,0.6); 
}
.pure-img-responsive{
  border-radius: 5px;
}

/*==== Start Responsiveness ====*/


.display {
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
  border-radius: 1em;
}




/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  .columns {
  width: 100%;
  }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .columns {
  width: 90%;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .columns {
  width: 80%;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .columns {
  width: 383px;
  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .columns {
  width: 383px;
  }
}





#resumewrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
}

.display:not(:hover) {
  opacity: 0.8;
}

@media screen and (min-width: 976px) {
.profileresumes {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width:20%;
  background-color: #D9DADE ;
}
}


@media screen and (max-width: 975px) {
  .profileresumes {
    position:relative;
    min-width: 100%;
    margin: 1%;
    border-radius: 1em;
  }

}

@media screen and (min-width: 975px) {
.resumes {
  float: right;
  left: 30%;
  width: 80%;
  height: 100%;
}
}

@media screen and (max-width: 975px) {
.resumes {
  clear:none;
  width: 100%;

}
}


@media screen and (min-width: 1301px) {
.profileuser {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width:400px;
  background-color: #D9DADE ;
}
}


@media screen and (max-width: 1300px) {
  .profileuser {
    position:relative;
    width: 100%;
    min-width: 385px;
    border-radius: 1em;
  }

}

@media screen and (min-width: 1301px) {
.userdata {
  float: right;
  width: 70%;
}
}

@media screen and (max-width: 1300px) {
.userdata {
  clear:none;
  width: 100%;

}
}

.sidebar {
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
}

#pdf {
  margin-left: 5px; 
}

.width {
  width: 90%;
}

.comment-button {
background-color: rgba(153, 153, 153, .8 );
color: white;
padding: 0.5em 2em;
border-radius: 5px;
}
.comment-button:hover {
background-color: rgba(153, 153, 153, 1);
color: white;
padding: 0.5em 2em;
border-radius: 5px;
}
/*==== End Responsiveness ====*/

.modalinput {
  margin-left: 15px;
}

.modalsize {
  min-width: 300px
}