h1= title
div(ng-controller='ResumeListController')
  #main-container
    #main.wrapper.clearfix
      form(role='search')
        .form-group
          input#search(type='text', placeholder='Resume Search', ng-model='searchText')
      article
        header
          div(x-ng-repeat="resume in resumes | filter:searchText")
            .tile
              h2 {{resume.industry}}
              p {{resume.description}} 
              p {{resume.resumeText}} 
              p {{resume.date}}
              a(href="#/resumes/{{resume._id}}") Show

  if user
    form.pure-form.pure-form-aligned(ng-submit='newResume()')
      fieldset
        .pure-control-group
          label(for='POST-industry') Industry:
          input#POST-industry(type='text', ng-model='industry') 
        .pure-control-group
          label(for='POST-description') Description:
          input#POST-description(type='text', ng-model='description')
        .pure-control-group
          label(for='POST-resumeText') resumeText:
          input#POST-resumeText(type='text', ng-model='resumeText')
        .pure-controls
          button.pure-button.pure-button-primary(type='submit') Save Resume