h1= title
div(ng-controller='ResumeListController')
  #main-container
    #main.wrapper.clearfix
      form(role='search')
        .form-group
          input#search(type='text', placeholder='Resume Search', ng-model='searchText')
      if user
        p Modal Content Goes here
          button(ng-click='toggleModal()') Add Resume
            modal-dialog(show='modalShown', width='750px', height='60%')
      article
        header
          div(x-ng-repeat="resume in resumes | filter:searchText")
            .tile
              h2 {{resume.industry}}
              p {{resume.description}} 
              p {{resume.resumeText}} 
              p {{resume.date}}
              a.pure-button(href="#/resumes/{{resume._id}}") Show
  if user
    .ng-modal(ng-show='show')
    .ng-modal-overlay(ng-click='hideModal()')
      .ng-modal-dialog(ng-style='dialogStyle')
        form.pure-form.pure-form-aligned(ng-submit='newResume()')
          fieldset
          .pure-control-group
            label(for='POST-industry') Industry:
            input#POST-industry(type='text', ng-model='industry') 
          .pure-control-group
            label(for='POST-description') Description:
            input#POST-description(type='text', ng-model='description')
          .pure-control-group
            label(for='POST-resumeText') resumeText:
            input#POST-resumeText(type='text', ng-model='resumeText')
          .pure-controls
            button.pure-button.pure-button-primary(type='submit') Save Resume
        .ng-modal-close(ng-click='hideModal()') X
        .ng-modal-dialog-content(ng-transclude='ng-transclude')

   