h1= title
div(ng-controller='ResumeListController')
  #main-container
    #main.wrapper.clearfix
      if user
        modal-dialog(show='modalShown', width='45%', height='60%', dialog-title='New Resume' on-close='logClose()')
          form.pure-form.pure-form-aligned(ng-submit='newResume()')
            fieldset
            .pure-control-group
              label(for='POST-industry') Industry:
              input#POST-industry(type='text', ng-model='$parent.industry') 
            .pure-control-group
              label(for='POST-description') Description:
              input#POST-description(type='text', ng-model='$parent.description')
            .pure-control-group
              label(for='POST-resumeText') resumeText:
              input#POST-resumeText(type='text', ng-model='$parent.resumeText')
            .pure-controls
              button.pure-button.pure-button-primary(type='submit') Save Resume
        button.pure-button(ng-click='toggleModal()') Upload Resume

      form(role='search' ng-show="resumes")
        .form-group
          input#search(type='text', placeholder='Resume Search', ng-model='searchText')

      article
        header
          div(x-ng-repeat="resume in resumes | filter:searchText")
            .tile
              div(ng-if='resume.linkedInUrl')
                script(type="IN/MemberProfile" data-id="{{resume.linkedInUrl}}" data-format="click" data-text="{{resume.userName}}" data-related="false")
              h2 {{resume.industry}}
              p {{resume.description}} 
              p {{resume.resumeText}} 
              p {{resume.date}}
              a#show-button.pure-button(href="#/resumes/{{resume._id}}") Show

