div(ng-controller='ResumeListController')
  #main-container
    #main
      #resumewrapper
      if user
        br
        modal-dialog(show='modalShown', width='28%', height='auto', dialog-title='New Resume' on-close='logClose()')
          .display
            form.pure-form.pure-form-aligned(ng-submit='newResume()', enctype="multipart/form-data")
              fieldset
              .pure-control-group
                label(for='POST-industry') Industry:
                input#POST-industry(type='text', ng-model='$parent.industry') 
              .pure-control-group
                label(for='POST-description') Description:
                input#POST-description(type='text', ng-model='$parent.description')
              .pure-control-group
                  input(type="file", name="file", id="file", onchange="angular.element(this).scope().uploadFile(this.files)")
              .pure-controls
                button.pure-button.pure-button-primary(type='submit') Save Resume 

        .profileresumes.sidebar
          br
          br
          h1= title
          button.pure-button(ng-click='toggleModal()', width: 20%) Upload A Resume
          br    
          p Or
          form(role='search' ng-show="resumes")
            .form-group
              input#search(type='text', placeholder='Search through Resumes', ng-model='searchText',)
      article
        header
          div(x-ng-repeat="resume in resumes | filter:searchText")
            .tile
              .display.resumes
                i.fa.fa-arrow-up(ng-click="upVoteResume(resume)")
                div Votes: {{resume.vote_count}}
                div(ng-if='resume.linkedInUrl')
                  script(type="IN/MemberProfile" data-id="{{resume.linkedInUrl}}" data-format="click" data-text="{{resume.userName}}" data-related="false")
                h2 Industry: {{resume.industry}}
                p Description: {{resume.description}} 
                hr 
                p Date Uploaded: {{formatDate(resume.date)}}
                a.pure-button(href="#/resumes/{{resume._id}}") Show

