

div(ng-controller='resumeShowController')   
	div(ng-if='resume.linkedInUrl')
		script(type="IN/MemberProfile" data-id="{{resume.linkedInUrl}}" data-format="inline" data-related="false")
	script(type="IN/Share")
	hr
	h3.industry {{resume.industry}}
	div#commentTile
		.description {{resume.description}}
	
		.resumeText	{{resume.resumeText}}

	if user
		.modal(ng-show='userId === resume.userId')
			modal-dialog(show='modalShown', width='45%', height='60%', dialog-title='Edit Resume' on-close='logClose()')
				form.pure-form.pure-form-aligned(ng-submit='editResume()')
					fieldset
						.pure-control-group
							label(for='POST-industry') Industry:
							input#POST-industry(type='text', ng-model='$parent.industry') 
						.pure-control-group
							label(for='POST-description') Description:
							input#POST-description(type='text', ng-model='$parent.description')
						.pure-control-group
							label(for='POST-resumeText') resumeText:
							input#POST-resumeText(type='text', ng-model='$parent.resumeText')
						.pure-controls
							button#show-button.pure-button(type='submit') Update Resume
				.pure-controls
					button.pure-button.button-error(ng-click= "deleteResume()") Delete
			button.pure-button(ng-click='toggleModal()') Resume Options	
	
	div#viewWindow
		
	form(role='search', ng-show="comments")
		div#commentSpace
		.form-group
			input#search(type='text', placeholder='Search in Comments', ng-model='searchText')
	article
		header
			div#commentSpace
			div(x-ng-repeat="comment in comments | filter:searchText")
				.tile
				div(ng-if='comment.linkedInUrl')
					script(type="IN/MemberProfile" data-id="{{comment.linkedInUrl}}" data-format="click" data-text="{{comment.userName}}" data-related="false")
				div(ng-if='!comment.linkedInUrl')
					h4 {{comment.userName}}
				div#commentTile
					p {{comment.content}}
					p {{comment.date}}
				button.pure-button.button-error#commentdelete(ng-show='userId === comment.userId', ng-click= "deleteComment(comment._id)") Delete
	div#comments

		if user
			div#commentSpace
			form(ng-submit='createComment()')
				.pure-u-1
					textarea.pure-input-1(rows="6" cols="70" ng-model='content' placeholder="Comment here!!")
				label.pure-checkbox
					input#private(type="checkbox", ng-model="anonymous")
					| Post Anonymously?	
				div#commentSpace.pure-controls
					button#show-button.pure-button(type='submit') Leave Comment
			
			