br
div(ng-controller='resumeShowController')   
	div(ng-if='resume.linkedInUrl')
		script(type="IN/MemberProfile" data-id="{{resume.linkedInUrl}}" data-format="inline" data-related="false")
	br
	script(type="IN/Share")
	br
	br
	.display.width
		h3 Industry: {{resume.industry}}
			p Description: {{resume.description}}
	if user
		.modal(ng-show='userId === resume.userId')
			modal-dialog(show='modalShown', width='28%', height='auto', dialog-title='Edit Resume' on-close='logClose()')
				.display
					form.pure-form.pure-form-aligned(ng-submit='editResume()', enctype="multipart/form-data")
						fieldset
							.pure-control-group
								label(for='POST-industry') Industry:
								input#POST-industry(type='text', ng-model='$parent.industry') 
							.pure-control-group
								label(for='POST-description') Description:
								input#POST-description(type='text', ng-model='$parent.description')
							.pure-control-group
								input(type="file", name="file", id="file", onchange="angular.element(this).scope().uploadFile(this.files)")
					.pure-controls
						button.pure-button(type='submit') Update Resume
					br
					.pure-controls
						button.pure-button.button-error(ng-click= "deleteResume()") Delete
			button.pure-button(ng-click='toggleModal()') Resume Options	
			button.pure-button#pdf(href='{{resume.resumeText}}') Download pdf
	br
	div#viewWindow
		object#resumePDF(data='{{resume.resumeText}}', type='application/pdf')
	form(role='search', ng-show="comments")
		div#commentSpace
		.form-group
			input#search(type='text', placeholder='Search in Comments', ng-model='searchText')
	br
	article
		header
			div(x-ng-repeat="comment in comments | filter:searchText")
				.display.width
					.tile
					div(ng-if='comment.linkedInUrl')
						script(type="IN/MemberProfile" data-id="{{comment.linkedInUrl}}" data-format="click" data-text="{{comment.userName}}" data-related="false")
					div(ng-if='!comment.linkedInUrl')
						h4 {{comment.userName}}
					div#commentTile
						p Comment: {{comment.content}}
						p Date: {{comment.date}}
					button.pure-button.button-error#commentdelete(ng-show='userId === comment.userId', ng-click= "deleteComment(comment._id)") Delete

	if user
		div#commentSpace
		form(ng-submit='createComment()')
			.pure-u-1
				textarea.pure-input-1(rows="6" cols="70" ng-model='content' placeholder="Comment here!!")
			label.pure-checkbox
				input#private(type="checkbox", ng-model="anonymous")
				| Post Anonymously?	
			div#commentSpace.pure-controls
				button.comment-button(type='submit') Leave Comment
		
		