h1= title
div(ng-controller='resumeShowController')   
	.industry {{resume.industry}}

	.description {{resume.description}}

	.resumeText	{{resume.resumeText}}

	.name {{resume.userName}}

	form(role='search')
		.form-group
			input#search(type='text', placeholder='Search in Comments', ng-model='searchText')
		article
		header
			div(x-ng-repeat="comment in comments | filter:searchText")
				.tile
					p {{comment.content}}
					p {{comment.userName}}  
					p {{comment.date}}
	if user
		form(ng-submit='createComment()')
			.pure-u-1
				textarea.pure-input-1(rows="6" cols="70")(ng-model='content' placeholder="Comment here!!")
			.pure-controls
				button.pure-button(type='submit') Leave Comment
		.modal(ng-show='userId === resume.userId')
			form.pure-form.pure-form-aligned(ng-submit='editResume()')
				fieldset
					.pure-control-group
						label(for='POST-industry') Industry:
						input#POST-industry(type='text', ng-model='industry') 
					.pure-control-group
						label(for='POST-description') Description:
						input#POST-description(type='text', ng-model='description')
					.pure-control-group
						label(for='POST-resumeText') resumeText:
						input#POST-resumeText(type='text', ng-model='resumeText')
					.pure-controls
						button.pure-button(type='submit') Update Resume
						button.pure-button(ng-click= "deleteResume()") Delete
