h1= title
div(ng-controller='HomeController')
  #home-background-image.splash-container
    .splash
        h1.splash-head Stepping Stone
        p.splash-subhead
          | Resume advice to help you move forward
        p
          a#started-button.pure-button(href='auth/linkedIn') Get Started
 .content-wrapper
    .content
        h2.content-head.is-center Preparing you for your next step in life.
        .pure-g
          .l-box.pure-u-md-1-2.pure-u-lg-1-3
            h3.content-subhead
              i.fa.fa-paperclip
              | Submit Your Resume
            p
              | Use our uploader to put your resume up to get the advice you need.
          .l-box.pure-u-md-1-2.pure-u-lg-1-3
            h3.content-subhead
              i.fa.fa-thumbs-up
              | Give and Recieve Feedback
            p
              | Give and receive feedback on yours and others resumes.  As a group we can help everyone succeed!
          .l-box.pure-u-md-1-2.pure-u-lg-1-3
            h3.content-subhead
              i.fa.fa-trophy
              | Get The Job!
            p
              | Take your next step with the advice you received on Stepping Stone!
          
      .ribbon.l-box-lrg.pure-g
        .l-box-lrg.is-center.pure-u-md-1-2.pure-u-lg-2-5
          img.pure-img-responsive(alt='File Icons', width='300', src='imgAssets/theSSTeam.jpg')
        .pure-u-md-1-2.pure-u-lg-3-5
          h2.content-head.content-head-ribbon Meet the Stepping Stone Team.
          p
            | We are Stepping Stone, a group of misfits striving to take the next step in our
            | own lives. We wanted to create a social network of Peers and Professionals that would
            | give positive feedback on a resume that a user submitted so that user can score the 
            | job they want.
    .footer.l-box.is-center
        | Created by Team Stepping Stone at the School of [}E\/S
        