h1= title
div(ng-controller='HomeController')
  #home-background-image.splash-container
    .splash
        h1.splash-head Stepping Stone
        p.splash-subhead
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        p
          a#started-button.pure-button(href='http://purecss.io') Get Started
 .content-wrapper
    .content
        h2.content-head.is-center Excepteur sint occaecat cupidatat.
        .pure-g
          .l-box.pure-u-md-1-2.pure-u-lg-1-3
            h3.content-subhead
              i.fa.fa-paperclip
              | Submit Your Resume
            p
              | Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
          .l-box.pure-u-md-1-2.pure-u-lg-1-3
            h3.content-subhead
              i.fa.fa-thumbs-up
              | Recieve Feedback
            p
              | Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
          .l-box.pure-u-md-1-2.pure-u-lg-1-3
            h3.content-subhead
              i.fa.fa-trophy
              | Get The Job!
            p
              | Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
          
      .ribbon.l-box-lrg.pure-g
        .l-box-lrg.is-center.pure-u-md-1-2.pure-u-lg-2-5
          img.pure-img-responsive(alt='File Icons', width='300', src='imgAssets/file-icons.png')
        .pure-u-md-1-2.pure-u-lg-3-5
          h2.content-head.content-head-ribbon Laboris nisi ut aliquip.
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            | consequat. Duis aute irure dolor.
    .footer.l-box.is-center
        | View the source of this layout to learn more. Made with love by the YUI Team.
        