extends ../layout

block content
	form(action='/users/add', method='post')
		label(for='POST-username') Username:
		input#POST-username(type='text', name='username')
		br
		label(for='POST-email') Email:
		input#POST-email(type='text', name='email')
		br
		label(for='POST-password') Password:
		input#POST-password(type='password', name='password')
		br
		input(type='submit', value='Save')
