h1= title
div(ng-controller='usersController')     
  

  #main-container
    #main.wrapper.clearfix
      article
        header
          div(x-ng-repeat="user in users")
            .tile
              h1 article header h1
              p {{user.username}}
              button.pure-button.pure-button-primary(ng-click='toggleModal(user)') Edit
      

